/* SITE-SPECIFIC TAB STYLING */

body.requests #tab_requests a,
body.profile #tab_profile a,
body.notices #tab_notices a,
body.languages #tab_languages a,
body.managing #tab_managing a,
body.articles #tab_articles a
{
    color: #000; /* selected tab text colour */
}
body.requests #tab_requests,
body.profile #tab_profile,
body.notices #tab_notices,
body.languages #tab_languages,
body.managing #tab_managing,
body.articles #tab_articles
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #DEF; /* selected tab colour */
    border-left: 1px solid #000; /* tab border */
    border-top: 1px solid #000; /* tab border */
    border-right: 1px solid #000; /* tab border */
}
